/** 
 * main.css
 * 
 * 1. General HTML tags
 * 2. Masthead area
 * 3. Main content and sidebar
 * 4. Footer
 * 5. Media queries for responsive layout
 * 
 */

/*********************************************************************
 * 1. General HTML tags
 *
 */

* {
	box-sizing: border-box; 
}

body {
	padding: 5%;
	max-width: 1600px; 
	margin: 0 auto; 
	background-image: url("images/background.jpeg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

body, td, input[type=text], textarea {
	font-family: 'Quattrocento', serif;
	font-size: 105%; 
	line-height: 1.8em;
	color: #444; 
}

img {
	max-width: 100%; 
}

h2 {
	font-weight: normal;
}

h3 {
	border-top: 1px solid #eee; 
	padding-top: 1em;
	color: #777; 
}

a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #ccc; 
}
	a:hover{
		color: #000;
		border-color: #aaa; 
	}

blockquote {
	margin-left: 0;
	padding-left: 1.5em;
	padding-right: 2em; 
	border-left: 4px solid #ddd; 
	font-style: italic; 
	color: #777; 
}

pre, code {
	background: #eee; 
	border: 1px solid #ddd; 
}

pre {
	font-size: 14px; 
	line-height: 1.4em;
	padding: 1em;
	border-left: 4px solid #ddd; 
}

/*********************************************************************
 * 2. Masthead area
 *
 */



.breadcrumbs {
	clear: both; 
	padding-top: 1em; 
}
	.breadcrumbs span:after {
		content: ">";
		color: #999; 
		padding-left: 0.5em;
		padding-right: 0.25em; 
	}

/*********************************************************************
 * 3. Main content
 *
 */

#main {
	border-top: 1px solid #eee; 
	padding-top: 1em; 
	margin-top: 1em; 
	clear: both; 
}

#main li:before {
	content: "\25E6";
	display: inline-block; 
	width: 1em;
  	margin-left: -1em;
  	font-size: 130%;
}

#main li:hover:before{
	content: "\2022";
	display: inline-block; 
	width: 3em;
  	margin-left: -1em;
  	font-size: 130%;
}



.align_left {
	/* for images placed in rich text editor */ 
	float: left;
	margin: 0 1em 0.5em 0; 
	position: relative;
	top: 0.5em;
	max-width: 50%; 
}

.align_right {
	/* for images placed in rich text editor */ 
	float: right;
	margin: 0 0 0.5em 1em;
	max-width: 50%; 
}

.align_center {
	/* for images placed in rich text editor */ 
	display: block;
	margin: 1em auto; 
	position: relative;
	top: 0.5em;
}

figure {
	display: table;
	width: 1px;
	margin: 1em 0;
}

figure img {
	display: table-row;
	margin-bottom: 0.5em;
}

figure figcaption {
	display: table-row;
	font-size: smaller;
	color: #777;
	line-height: 1.4em;
}

/*********************************************************************
 * 4. Footer
 *
 */

#footer {
	clear: both; 
	border-top: 1px solid #eee; 
	font-size: 80%; 
	height: 20px;
}


.footer-content > p {
	margin-top: 40px;
	margin-left: 530px;
}

/*********************************************************************
 * 5. Media queries for responsive layout
 *
 */
/*
@media only screen and (max-width: 767px) {
	 mobile layout 

	body, td, textarea {
		font-size: 100%; 
	}
	#content{
		float: none;
		width: 100%; 
		padding: 0; 
	}
	form.navbar-form navbar-left {
		float: none; 
		width: 100%; 
	}
	.align_left, .align_right, .align_center {
		display: block;
		float: none; 
		margin: 1em auto;
		max-width: 100%; 
	}

}

@media only screen and (min-width: 1200px) {
	 extra-wide desktop layout  
	
	body, td, textarea {
		font-size: 115%; 
	}
}
*/