/**{display:block!important;visibility:visible!important;}*/



ul#nav {
    float: left;
    color: #232223;
    display:block;
    font: 16px/26px Georgia,"Times New Roman",Times,serif;
}
ul#nav, ul {
    list-style:none;
}
ul#nav .subs {
    background-color: rgba(121,160,160,0.8);
    border:1px solid #887963;
    display:none;
    float:left;
    left:0;
    padding:10px;
    position:absolute;
    top:100%;
}
ul#nav li:hover>* {
    display:block;
}
ul#nav li:hover {
    position:relative;
}
ul#nav ul .subs {
    left:100%;
    position:absolute;
    top:0;
}
ul#nav ul {
    padding:0 5px 5px;
}
ul#nav li {
    display:inline;
    float:left;
}
ul#nav a {
    color: #353435;
    float: left;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 14px;
    min-width:60px;
    padding: 60px 20px;

    text-decoration: none;
    text-shadow: 1px 1px 0 #B4C6C6;
    text-transform: uppercase;
}
ul#nav > li:hover > a {
    border-top: 5px solid #887963;
    color: #1e1e1e;
    padding-top: 55px;
}

.current {
	background: url("images/nav_current.png") no-repeat scroll center top transparent;	
}

ul#nav ul a {
    color:#000;
    font-size:12px;
    font-weight:bold;
    padding:5px;
    text-shadow:#fff 0 0 0;    
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
}
ul#nav ul li:hover>a {
    letter-spacing:2px;
}

/**************

Layout css

**************/

.search-container {
    float: right;
    height: 250px;
    width: 507.05px;
}



form.navbar-form.navbar-left {
    margin: 100px 150px 100px 150px;
}

form.navbar-form.navbar-left input {
    width: 230px;
}

form.navbar-form.navbar-left button {
    display: none; 
}

.container {
    background:url("images/header.jpg") repeat-x top left;
    border-top: 5px solid #000000;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.content {
    position: absolute;
    height: 250px;
    width: 607.05px;
}


/**************

Mobile css

**************/

/*
@media only screen and (max-width: 767px) {

    ul#nav{
        padding: 0px 0px 0px 15px;
    }
    div.container, div.content {
        height: 300px;
        background-size: 100% 300px;
        width: 100%;
    }
    form.navbar-form.navbar-left {
        float: right;
        top: -70px;
        position: relative;
        padding: 5px 5px 5px 40px;
        width: 100%;
    }
}
*/