
body { font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #888; line-height: 30px; text-align: center; }

strong { font-weight: 600; }

a { color: #79a05f; border-bottom: 1px dashed #79a05f; text-decoration: none; transition: all .3s; }
a:hover, a:focus { color: #79a05f; border: 0; text-decoration: none; }

h1, h2 { margin-top: 10px; font-size: 38px; font-weight: 300; color: #555; line-height: 50px; font-style: italic; }
h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; font-style: italic; }

img { max-width: 100%; }

.medium-paragraph { font-size: 17px; line-height: 32px; }

::-moz-selection { background: #6d9055; color: #fff; text-shadow: none; }
::selection { background: #6d9055; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }

.section-container-gray-bg { background: #f8f8f8; }

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 { color: #fff; }

.section-container-image-bg .divider-1 span { border-color: #fff; }

.section-description { margin-top: 60px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.8; }

.section-bottom-button { padding-top: 60px; }


/***** Divider *****/

.divider-1 span { display: inline-block; width: 200px; border-bottom: 1px dotted #aaa; }


/***** Top content *****/

.inner-bg { padding: 210px 0; }

.top-content .text { color: #fff; }
.top-content .text h1 { margin-top: 25px; color: #fff; }
.top-content .description { margin: 30px 0 10px 0; }
.top-content .description p { opacity: 0.8; }


/***** Section 1 *****/

.section-1-box { padding-top: 30px; text-align: left; }

.section-1-box .section-1-box-icon {
	width: 80px; height: 80px; margin: 0 auto;
	
	background: #6d9055; /* Old browsers */
	background: -moz-linear-gradient(top,  #79a05f 0%, #6d9055 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79a05f), color-stop(100%,#6d9055)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #79a05f 0%,#6d9055 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79a05f', endColorstr='#6d9055',GradientType=0 ); /* IE6-9 */

    font-size: 40px; color: #fff; line-height: 80px; text-align: center;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.section-1-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Section 2 *****/

.section-2-box { margin-top: 30px; text-align: left; }
.section-2-box h3 { margin-top: 0; }
.section-2-box-text .medium-paragraph { margin-top: 20px; margin-bottom: 20px; }


/***** Section 3 *****/

.section-3-box { margin-top: 30px; text-align: left; }

.section-3-box .section-3-box-icon {
	width: 60px; height: 60px; margin: 0 auto;
	
	background: #6d9055; /* Old browsers */
	background: -moz-linear-gradient(top,  #79a05f 0%, #6d9055 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79a05f), color-stop(100%,#6d9055)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #79a05f 0%,#6d9055 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #79a05f 0%,#6d9055 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79a05f', endColorstr='#6d9055',GradientType=0 ); /* IE6-9 */
	
    font-size: 28px; color: #fff; line-height: 60px; text-align: center;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.section-3-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Footer *****/

.footer-top { padding: 60px 0; text-align: left; color: #fff; color: rgba(255, 255, 255, 0.8); }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #fff; color: rgba(255, 255, 255, 0.5); }

.footer-links a { color: #fff; color: rgba(255, 255, 255, 0.8); border: 0; }
.footer-links a:hover, .footer-links a:focus { color: #fff; }

.footer-bottom { padding: 15px 0 17px 0; background: #444; text-align: left; color: #aaa; }

.footer-social { padding-top: 3px; text-align: right; }
.footer-social a { margin-left: 20px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #79a05f; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-copyright { padding-top: 5px; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }
